/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* ********************* */
/* Tipografía */
@font-face {
  font-family: "Mayberry";
  src: url("../font/MayberryW02Black.woff2") format("woff2"),
    url("../font/MayberryW02Black.woff") format("woff");
}

@font-face {
  font-family: "Mayberry Regular";
  src: url("../font/MayberryW02Regular.woff2") format("woff2"),
    url("../font/MayberryW02Regular.woff") format("woff");
}
/* ********************* */

html {
  font-family: "Mayberry Regular ", sans-serif;
  font-size: 16px;
}

/* VARIABLES */
/* ********************* */
:root {
  /* colores */
  --color-azul-cielo: #1b287e;
  --color-azul-claro: #5c2acf;
  --color-azul-marino: #042665;
  --color-blanco: #fefefc;
  --color-lila: #c9b0ea;
  --color-morado-claro: #a66ced;
  --color-violeta: #b95ec3;

  /* Tipografias */
  --tipo-parrafo: 1rem;
  --tipo-subtitulo: 1.5rem;
  --tipo-links: 1.125rem;

  /* Tamaños */
  --tam-anchoMax: 1640px;
}

/* Apartado del Encabezado */
header {
  background: transparent;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;

  position: fixed;
  top: 0;
  width: 100%;

  /* Apartado del menu de navegación */
  & nav {
    width: 100%;
    max-width: var(--tam-anchoMax);
    font-family: "Mayberry", sans-serif;

    display: flex;
    align-items: center;
    gap: 20px;

    & a {
      text-decoration: none;
      color: var(--color-blanco);
      font-family: "Mayberry";
      font-size: 12px;
      padding: 0 20px;
      text-transform: uppercase;
    }

    /* Apartado del imagotipo */
    & .header__logo {
      flex-grow: 1;

      & .header__logo-img {
        width: 50px;
      }
    }

    /* Aparatado del boton en el encabezado */
    & .header__empezar {
      padding: 10px 40px;
      border-radius: 20px;
      background: var(--color-blanco);
      color: var(--color_azul_marino);
    }
  }
}

/* Apartado del pie de pagina */
footer {
  width: 100%;
  background: linear-gradient(
    0deg,
    var(--color-azul-marino) -10.47%,
    var(--color-morado-claro) 92.94%
  );

  & .footer__section {
    display: grid;
    max-width: var(--tam-anchoMax);
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.7fr;
    gap: 8px 20px;
    margin: 0 auto;
    color: var(--color-blanco);

    /* Imagotipo */
    & .header__logo {
      display: flex;
      align-items: center;
    }

    /* Breve descripcion */
    & p {
      grid-row: 2/3;
      padding-right: 250px;
    }

    /* Derechos de Autor */
    & h6 {
      grid-row: 3/4;
      display: flex;
      align-items: center;
    }

    /* Los servicios */
    & .footer__section-servicios {
      grid-column: 2/3;
      grid-row: 2/3;
      line-height: 40px;

      & li {
      }
    }

    /* Info. Contacto */
    & .footer__section-soporte {
      grid-column: 3/4;
      grid-row: 2/3;
      line-height: 40px;

      & li {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    /* Redes Sociales */
    & .footer__section-redes {
      grid-column: 4/5;
      grid-row: 3/4;
      display: flex;
      align-items: end;
      gap: 30px;
      align-items: center;
    }
  }
}

/* Apartado Central de la pagina */
main {
  width: 100%;

  background: url(../svg/canva-main.svg) no-repeat left 100%;

  /* Apartado de Banner Principal */
  & .banner__cabecera {
    width: 100%;
    padding: 80px 0;
    background: linear-gradient(
      180deg,
      #042665 0%,
      #30289b 52.6%,
      #5c2acf 100%
    );
    display: flex;
    justify-content: center;

    & .main__banner {
      max-width: var(--tam-anchoMax);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);

      & .main__banner-texto {
        color: var(--color-blanco);
        display: flex;
        flex-direction: column;
        gap: 120px;
        padding: 100px 0;
        grid-column: 1/3;

        & h1 {
          font-size: 64px;
        }

        & p {
          width: 500px;
          overflow: hidden;
        }

        & ul {
          display: flex;
          align-items: center;
          gap: 30px;
          grid-column: 1/2;

          & .main__banner-btn {
            padding: 25px 60px;
            border-radius: 100px;
            background: rgba(255, 255, 255, 0.5);
            color: var(--color_azul_marino, #042665);
            text-decoration: none;
          }

          & .main__banner-btn:last-child {
            padding: 24px 90px;
            border-radius: 100px;
            background: transparent;
            color: var(--color-lila);
            border: 5px solid rgba(255, 255, 255, 0.49);
          }
        }
      }
    }
    & .main__banner-img {
      grid-column: 3/5;
      align-self: flex-end;
    }
  }

  /* Aparatdo de proceso  */
  & .canva__procesos {
    width: 100%;
    height: 1031.253px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url(../svg/canva_banner.svg);
    background-position: center;
    background-repeat: no-repeat;

    & .main__procesos {
      & .main__procesos-pasos {
        width: max(var(--tam-anchoMax));
        height: 768px;

        display: grid;
        grid:
          "Paso1 Paso2 Paso3 Paso4" 1fr
          / 1fr 1fr 1fr 1fr;
        gap: 10px;
        grid-auto-flow: row dense;

        justify-content: center;
        align-content: center;

        /* Paso 1 */
        .main__procesos-paso1 {
          grid-area: Paso1;

          & .linea {
            position: relative;
            display: block;
            width: 100px;
            height: 5px;
            background-color: var(--color-lila);
            margin: 10px 0;
          }
        }

        .main__procesos-paso2 {
          grid-area: Paso2;
        }
      }
      .main__procesos-paso3 {
        grid-area: Paso3;
      }
      .main__procesos-paso4 {
        grid-area: Paso4;
      }
    }
  }

  /* Apartado de las cartas de servicio */
  & .canva__main {
    width: 100%;
    /* background: url(../svg/canva-main.svg); */
    background-position: left center;

    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 100px 0;

    & .main__servicios {
      height: 700px;
      width: var(--tam-anchoMax);
      justify-content: center;
      align-items: center;
      padding: 0 20px;

      display: grid;
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(2, auto);

      & articule {
        color: var(--color_azul_cielo, #1b287e);
        margin-left: 20px;

        & h2 {
          font-size: 40px;
        }
      }
      /* Cartas */
      & .main__servicios-diseño {
        width: 525px;
        height: 525px;
        background: var(--color-blanco);
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
        opacity: 0.6;
        margin: 20px;
        grid-row: 2/3;

        & .main__servicios-img {
          width: 100px;
          margin: 40px;
        }
        & figcaption {
          padding: 0 40px;
          display: flex;
          flex-direction: column;
          gap: 30px;

          & h3 {
            font-size: 18px;
            margin-top: 10px;
            color: var(--color-azul-claro);
          }

          & p {
            font-size: var(--tipo-parrafo);
            color: var(--color-azul-claro);
          }

          & h4 {
            color: var(--color-azul-claro);
            text-decoration: none;
            list-style: none;
          }
        }
      }
    }
  }
}
