/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* ********************* */
/* Tipografía */
@font-face {
  font-family: "Mayberry";
  src: url("../font/MayberryW02Black.woff2") format("woff2"),
    url("../font/MayberryW02Black.woff") format("woff");
}

@font-face {
  font-family: "Mayberry Regular";
  src: url("../font/MayberryW02Regular.woff2") format("woff2"),
    url("../font/MayberryW02Regular.woff") format("woff");
}

html {
  font-family: "Mayberry Regular ", sans-serif;
  font-size: 16px;
}

/* VARIABLES */
/* ********************* */
:root {
  /* colores */
  --color-azul-cielo: #1b287e;
  --color-azul-claro: #5c2acf;
  --color-azul-marino: #042665;
  --color-blanco: #fefefc;
  --color-lila: #c9b0ea;
  --color-morado-claro: #a66ced;
  --color-violeta: #b95ec3;

  /* Tipografias */
  --tipo-parrafo: 1rem;
  --tipo-subtitulo: 1.5rem;
  --tipo-links: 1.125rem;

  /* Tamaños */
  --tam-anchoMax: 1640px;
}

header {
  background-color: var(--color-azul-marino);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  & nav {
    width: 100%;
    max-width: 1640px;

    display: flex;
    align-items: center;
    gap: 20px;

    & a {
      text-decoration: none;
      color: var(--color-blanco);
      font-family: "Mayberry";
      font-size: 12px;
      padding: 0 20px;
      text-transform: uppercase;
    }

    & .header__logo {
      flex-grow: 1;

      & .header__logo-img {
        width: 50px;
      }
    }

    & .header__empezar {
      padding: 10px 40px;
      border-radius: 20px;
      background: var(--color-blanco);
      color: var(--color_azul_marino);
    }
  }
}
